/* 全局页面定义 */

html body {
  padding: 0;
  margin: 0;

  /* font-size: 62.5%; */
  background: #282d4c
    /* background-image: url("../static/siteimg/01.png");
  background-position: left top;
  background-size: 100% 100%;
  background-attachment: fixed; */
}

.main {
  padding: 80px 0 50px 0;
  margin: 0;
}

/* .container {
  display: grid;
  background-size: cover;
  position: relative;
  z-index: 1;
  width: 1024px;
  margin: 0 auto;
  padding: 30px 0 10px 0;

  border-radius: 5px;
  font-family: 'Helvetica Neue',
    Helvetica,
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei',
    '微软雅黑',
    Arial,
    sans-serif;
  color: #fff;

} */


.container {
  display: grid;
  background-size: cover;
  position: relative;
  z-index: 1;
  width: 1024px;
  margin: 0 auto;
  padding: 30px 0 10px 0;
  border-radius: 5px;
  font-family: 'Helvetica Neue',
    Helvetica,
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei',
    '微软雅黑',
    Arial,
    sans-serif;

  color: #fff;

}

.container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(241, 145, 236, 0.397);

  background-attachment: fixed;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
  margin: -10px;
}



/*.page-enter-active {

  transition: all 0.2s ease;
}*/
/*
.page-enter {
  opacity: 0;

  transform: translate3d(100px, 0, 0);
}

.page-leave-active {
   transition: all 0.2s ease;
  opacity: 0;
  animation-delay: 0.2s;
  transform: translate3d(-100px, 0, 0) scalex(0.8);

  opacity: 0;
  transform: translate3d(-100px, 0, 0);
  transition: all 0.2s ease;
}*/
.page-enter-active,
.page-leave-active {
  transition: opacity 0.6s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translate3d(0, 0, -200px);
}


img {
  /* height: auto; */
  max-width: 100%;
  /* vertical-align: middle; */
  border: 0;
}
